.tenis {
    background-color: #0F0;
    width: 250px;
    height: 170px;
    text-align: center;
    padding-top: 15px;
    float: left;
    margin-left: 10px;
}
.papete {
    background-color: #0F0;
    width: 250px;
    height: 170px;
    text-align: center;
    padding-top: 15px;
    float: left;
    margin-left: 10px;
}
.chinela {
    background-color: #0F0;
    width: 250px;
    height: 170px;
    text-align: center;
    padding-top: 15px;
    float: left;
    margin-left: 10px;
}
.rasteira {
    background-color: #0F0;
    width: 250px;
    height: 170px;
    text-align: center;
    padding-top: 15px;
    float: left;
    margin-left: 10px;
}
.xoboi {
    background-color: #0F0;
    width: 250px;
    height: 170px;
    text-align: center;
    padding-top: 15px;
    float: left;
    margin-left: 10px;
}